@* Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@
@using Newtonsoft.Json
@model SoftinuxBase.Security.ViewModels.Permissions.GrantViewModel


@section title {
    <h2>Roles & Permissions</h2>
}

@{
    var modelAsJson = JsonConvert.SerializeObject(Model.PermissionsByRoleAndScope);
    ViewData["inputExtendAttributes"] = "onCopy=\"return false;\" onDrag=\"return false;\" onDrop=\"return false;\" onPaste=\"return false;\" autocomplete=off";
    ViewData["isEditRole"] = false;
}

@section Styles {
    <style>
        .holdButtonProgress {
            height: 5px !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        @* box roles *@
        <div class="box">
            <div class="box-header with-border">
                <h3>Manage Roles</h3>
            </div>
            <div class="box-body">
                <div class="margin">
                    <div class="btn-group">
                        <button id="add-role" type="button" class="btn btn-block btn-default">Add role</button>
                    </div>
                    <div class="btn-group">
                        <button id="edit-role" type="button" class="btn btn-block btn-default">Edit role</button>
                    </div>
                    <div class="btn-group">
                        <button id="delete-role" type="button" class="btn btn-block btn-danger">Delete role</button>
                    </div>
                </div>
                @* START Controls for addition of a role *@
                <partial name="_Add_Edit_Role" model="Model" />
                @* END Controls for addition of a role *@
                @* START Controls for edition of a role *@
                @{
                    // set recall partial page value for edit role now
                    ViewData["isEditRole"] = true;
                }
                <partial name="_Add_Edit_Role" model="Model" />
                @* END Controls for edition of a role *@
            </div>
        </div>
        @* box listing roles *@
        <div class="box">
            <div class="box-header">
                <h3>Roles List</h3>
            </div>
            <div class="box-body">
                <section class="content">
                    <div class="row">
                        <!-- header -->
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="row table-header collapsed">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 table-header-cell" id="collapse" data-state="closed">
                                    <i class="chevron-double fa fa-fw"></i>
                                </div>
                                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-4 table-header-cell" align="center">Extension name</div>
                                @*<div class="col-md-1 col-xs-1 table-header-cell">&nbsp;</div>*@
                                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 table-header-cell">Admin</div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 table-header-cell">Write</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 table-header-cell">Read</div>
                                @* empty row for trash icon in role row *@
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 table-header-cell">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    @* List extensions and roles *@
                    <!-- list roles extensions -->
                    @await Html.PartialAsync("_List_Roles_Extensions", Model)
                </section>
            </div>
        </div>
        @* /.box *@
    </div>
</div>

@* Modal for remove role *@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header model-header-custom">
                <button type="button" class="btn btn-xs pull-right alert-default alert-danger-default" data-dismiss="modal"><strong>Close</strong></button>
                <h4 class="modal-title" id="myModalLabel" style="font-size: 12pt;"><i class="fa fa-warning"></i>&nbsp;&nbsp;<strong>CONFIRM REMOVE ROLE</strong></h4>
            </div>
            @*<div style="margin-top: 1px; background-color: #2e77bc; height: 1px; width: 100%;"></div>*@
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">You are about to remove the <strong><span id="selectedRoleName"></span></strong> role for :</div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-12 vertical-align-center">
                        <span class="valign-center">&#9679; module: <strong><span id="moduleName"></span></strong></span>
                        <button class="btn btn-default pull-right"><span aria-hidden="true"><i class="fa fa-trash-o"></i></span>&nbsp; Remove for this module</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><hr /></div>
                </div>
                <div class="row">
                    <div class="col-md-12 vertical-align-center">
                        <span class="valign-center">&#9679; all modules!</span>
                        <button class="btn btn-danger pull-right removeAllRoles"><span aria-hidden="true"><i class="fa fa-trash-o" style="color: #ffffff;"></i></span>&nbsp; Remove on all modules</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/Scripts/jquery.pressAndHold.min.js"></script>
    <script>
        var SuccessMessage = "@(ViewBag.SuccessMessage)";
        window.StopAccordionsPropagation = function(e) {
            console.log('StopAccordionsPropagation');
            e.stopPropagation();
        };

        @*
            cannot move into security.js otherwise error :
            Uncaught TypeError: $(...).pressAndHold is not a function
            is present.
        *@
        @* begin pressAndHold block *@
        $(".removeAllRoles").pressAndHold({
            holdTime: 1000,
            progressIndicatorRemoveDelay: 900,
            progressIndicatorColor: "#FFFFFF;",
            progressIndicatorOpacity: 1,
            progressIndicatorPosition: "bottom"
        });

        $(".removeAllRoles").on('complete.pressAndHold', function(event) {
            console.log("complete");
            $('#myModal').modal('hide');
        });
        @* end pressAndHold block *@

        $("#name").keypress(function(event){
            @* get envent value *@
            var inputValue = event.which;
            @*
                48-57 - (0-9)Numbers
                65-90 - (A-Z)
                97-122 - (a-z)
                8 - (backspace)
                32 - (space)
                189 (minus/underscore) not used here
            *@
            @* check number only. *@
            if(inputValue >= 48 && inputValue <= 57){
                return true;
            }
            @* check special char. *@
            if ((inputValue >=1 && inputValue <= 64) || (inputValue >=121) && inputValue !== 32) {
                event.preventDefault();
            }
        });
    </script>
}