@* Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@using Microsoft.AspNetCore.Identity
@using Security.Data.Entities

@inject UserManager<User> UserManager
@{
     var firstName = "";
     var lastName = "";
     var  loggedInUser = User != null ? await @UserManager.GetUserAsync(User) : null;
     if(loggedInUser != null)
     {
         firstName = loggedInUser.FirstName;
         lastName = loggedInUser.LastName;
     }
 }

@* User Account Menu *@
<li class="dropdown user user-menu">
    @* Menu Toggle Button *@
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        @* The user image in the navbar*@
        <img src="/img/profile-circle2-128.png" class="user-image" alt="User Image">
        @* hidden-xs hides the username on small devices so only the image appears. *@
        <span class="hidden-xs">@firstName&nbsp;@lastName</span>
    </a>
    <ul class="dropdown-menu">
        @* The user image in the menu *@
        <li class="user-header">
            <img src="/img/profile-circle2-128.png" class="img-circle" alt="User Image">
            <p>
                @firstName&nbsp;@lastName
                @* - Web Developer
        <small>Member since Nov. 2012</small> *@
            </p>
        </li>
        @* Menu Body *@
        @*<li class="user-body">
                 <div class="row">
                    <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                    </div>
                </div>
                $1$ /.row #1#
            </li>*@
        @* Menu Footer*@
        <li class="user-footer">
            <div class="pull-left">
                <a href="@Url.Action("EditProfile", "Account")" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="@Url.Action("SignOut", "Account")" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>