@* Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
*@

@using Security.Data.Entities

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    <h2>Users List</h2>

}

@section Styles {
    <link rel="stylesheet" href="/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/select.bootstrap.min.css">
}

<div class="row">
    <div class="col-md-12">
        @* .box *@
        <div class="box">
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dt-buttons btn-group">
                                <button class="btn btn-primary button-selected button-edit" tabindex="0" aria-controls="example">
                                    <span>Edit</span>
                                </button>
                                <button class="btn btn-danger button-selected button-remove" tabindex="0" aria-controls="example">
                                    <span>Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_userList" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="userlist">
                                <thead>
                                <tr role="row">
                                    <th class="sorting" style="width: 10px">#</th>
                                    <th class="sorting" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                    <th class="sorting" rowspan="1" colspan="1" aria-label="Guid: activate to sort column ascending">Guid</th>
                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    int counter = 1;
                                    foreach (var item in ViewBag.userlist)
                                    {
                                        <tr role="row">
                                            <th scope="row">@counter</th>
                                            <td>
                                                @item.Text
                                            </td>
                                            <td>
                                                @item.Value
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        @* /.box *@
    </div>
</div>

<div class="modal fade" id="modal-default" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        @* /.modal-content *@
    </div>
    @* /.modal-dialog *@
</div>

@section Scripts
    {
    <script src="/jquery.dataTables.js"></script>
    <script src="/dataTables.bootstrap.js"></script>
    <script src="/dataTables.select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[rel="tooltip"]').tooltip({ trigger: "hover" });

            var table = $("#table_userList").DataTable({
                lengthChange: false,
                select: true
            });

            @* Display the buttons *@
            new $.fn.dataTable.Buttons( table, [
                { extend: "edit", editor: editor },
                { extend: "delete", editor: editor }
            ] );

            table.buttons().container()
                .appendTo( $('.col-sm-6:eq(0)', table.table().container() ) );
        });

    </script>
}
