@* Copyright © 2017-2019 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@
@using Microsoft.AspNetCore.Identity
@using SoftinuxBase.Security.Data.Entities

@inject UserManager<User> UserManager

@section title
{
    <h2>User Profile</h2>
}

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_User_Profile_Details_Card", user)
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#details-content" class="nav-link active" id="profile-details-tab" data-toggle="pill" aria-expanded="true">Detail</a>
                    </li>
                    <li class="nav-item">
                        <a href="#groups-content" class="nav-link" id="profile-groups-tab" data-toggle="pill" aria-expanded="true">Groups</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="details-content" role="tabpanel" aria-labelledby="profile-details-tab">
                        @await Html.PartialAsync("_User_Profile_Details", user)
                    </div>
                    <div class="tab-pane" id="groups-content" role="tabpanel" aria-labelledby="profile-groups-tab">
                        <h3><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;My Groups</h3>
                        <h4>My Claims</h4><br/>
                        @await Html.PartialAsync("_ListClaims")
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section Scripts
{
    <script type="text/javascript" src="/Scripts/security_edit_user.js"></script>
}
