@* Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@using Infrastructure
@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@model Security.ViewModels.Account.SignInViewModel

@inject IOptions<CorporateConfiguration> OptionsApplicationConfiguration

<div class="bgpicture">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><img src="/img/@Html.Raw(OptionsApplicationConfiguration.Value.BrandLogo)" class="brandlogo-image singin-brandlogo-image" alt="User Image">
                <br/><strong>SOFTINUX</strong></a>
        </div>
        @* /.login-logo *@
        <div class="login-box-body">

            <form method="post" id="loginform">
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    <label for="username">Username or email address</label>
                    <input id="username" type="text" class="form-control" asp-for="Username" tabindex="1" autocapitalize="off" autocorrect="off" autofocus="autofocus">
                </div>
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    <label for="password" class="label-password">Password
                        <a class="label-link" href="/password_reset">Forgot password?</a>
                    </label>
                    <input id="password" type="password" class="form-control" asp-for="Password" tabindex="2">
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox">&nbsp;Remember Me
                            </label>
                        </div>
                    </div>
                    @* /.col *@
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    @* /.col *@
                </div>

            </form>

        </div>
        @* /.login-box-body *@
    </div>
    
    @if (OptionsApplicationConfiguration.Value.RegisterNewUsers)
    {
        <div class="register-box2">
            <div class="register-box-body">
                New to Base? <a href="SignUp">Create an account</a>
            </div>
        </div>
    }
     

</div>

@section ScriptsUnauthenticated {
 <script type="text/javascript">
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
}