@{
    this.ViewBag.Title = "Sign In";
}
@*@section title {
        @ViewBag.Title
    }*@
<div class="container">
    <h2>
        @ViewBag.Title
    </h2>
    <form class="form" method="post">
        <input type="text" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <input type="checkbox" asp-for="RememberMe" />
        <button class="button btn-primary" type="submit">Sign in</button>
        <h3 asp-for="ErrorMessage"></h3>
    </form>
</div>
