@model Security.ViewModels.Account.SignInViewModel

@section title {
    <h1>Sign In</h1>
    }

    <form class="form" method="post">
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
        <label asp-for="RememberMe"></label>
        <input type="checkbox" asp-for="RememberMe"/>
        <button class="button btn-primary" type="submit">Sign in</button>
        <h3 asp-for="ErrorMessage"></h3>
    </form>

