@* Copyright © 2017-2019 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@Html.AntiForgeryToken()

@{
    string inputExtendAttributes = "onCopy=\"return false;\" onDrag=\"return false;\" onDrop=\"return false;\" onPaste=\"return false;\" autocomplete=off";
}

<div class="row" id="edit-role-area">
    <div class="col-md-12">
        <label for="availableRoles">View assigned permissions for:</label>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <select class="form-control select2bs4" id="availableRoles" data-placeholder="Select a role" onChange="viewSelectedRole(this.options[this.selectedIndex].getAttribute('data-id'));">
                        @* here roles list *@
                        @await Component.InvokeAsync("SelectOptionsListRoles")
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="btn-group" style="display:none;" id="rename-role-div">
                    <button class="btn btn-block btn-warning" id="rename-role-btn" data-toggle="modal" data-target="#renameRoleModal">@* dynamic label*@Rename selected role</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group margin">
                     <table class="table table-head-fixed table-hover" id="assigned-permissions-table">
                            <thead>
                            <tr>
                                <th class="text-muted extension">Extension</th>
                                <th class="text-muted">Assigned permissions</th>
                            </tr>
                            </thead>
                            <tbody id="selectedRoleAssignedExtensionsList">
                            @* here selected extensions filled by javascript *@
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" id="unlink-role-row" style="display:none;">
            <div class="col-md-3">
                <div class="btn-group">
                    <button class="btn btn-block btn-warning" id="unlink-role-btn">@* dynamic label*@Remove all permissions of selected role</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="dottedLine15"></div>
            </div>
        </div>
    </div>
</div>