html,
body {
    font: normal 15px 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
}


/* Input */

.input {
    font: normal 15px 'Open Sans', sans-serif;
}


/* Button */

.button {
    font: normal 15px 'Open Sans', sans-serif;
}


/* Field */

.field {}

.field__label {
    display: block;
}

.field__input {
    width: 400px;
}


/* Buttons */

.buttons {}


/* Form */

.form {}

.form__field {
    margin-top: 10px;
}

.form__buttons {
    margin-top: 20px;
}


/* Menu */

.menu {}

.menu__item {
    display: block;
}


/* Master-Detail View */

.master-detail-view {
    display: flex;
    min-height: 100%;
}

.master-detail-view__master {
    background: #f0f0f0;
    flex: 0 0 250px;
    position: relative;
    width: 250px;
}

.master-detail-view__detail {
    flex: 1 0 auto;
}

.master-detail-view__title {
    padding: 20px;
}

.master-detail-view__menu {
    padding: 20px;
}

.master-detail-view__form {
    padding: 20px;
}