@* Copyright © 2017-2019 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@{
    Layout = "_Layout_Edit_User_Admin";
}

@model SoftinuxBase.Security.Data.Entities.User

<div class="form-group">
    <label for="userName" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-10">
        <input id="userName" class="form-control admin-label" readonly>
    </div>
</div>
<div class="form-group">
    <label for="lastConnexion" class="col-sm-2 control-label">Last Connexion</label>
    <div class="col-sm-10">
        <input id="lastConnexion" class="form-control admin-label" readonly>
    </div>
</div>
<div class="form-group">
    <div class="custom-control custom-switch">
        <input type="checkbox" id="emailconfirmed" name="TODO give name" class="custom-control-input">
        <label for="emailconfirmed" class="custom-control-label cursor-pointer">Email Confirmed</label>
    </div>
</div>
<div class="form-group">
    <div class="custom-control custom-switch">
        <input type="checkbox" id="twofactorauth" name="TODO give name" class="custom-control-input">
        <label for="twofactorauth" class="custom-control-label cursor-pointer">Two Factor Authentication</label>
    </div>
</div>

<partial name="_User_Profile_Details_Fields" />

@section Scripts {
    <script type="text/javascript" src="/Scripts/security_edit_user.js"></script>
}
