@* Copyright © 2017-2019 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@section title {
    Users List
}

@section Styles {
    <link rel="stylesheet" href="/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/select.bootstrap.min.css">
    <link rel="stylesheet" href="/buttons.bootstrap.min.css">
}

<div class="row">
    <div class="col-md-12">
        @* .box *@
        <div class="box">
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_userList" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="userlist">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" style="width: 10px">#</th>
                                        <th class="sorting" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                        <th class="sorting" rowspan="1" colspan="1" aria-label="Guid: activate to sort column ascending">Guid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int counter = 1;
                                        foreach (var item in ViewBag.userlist)
                                        {
                                            <tr role="row">
                                                <th scope="row">@counter</th>
                                                <td>
                                                    @item.Text
                                                </td>
                                                <td>
                                                    @item.Value
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        @* /.box *@
    </div>
</div>

@* Modal *@
<div class="modal fade" id="modal-default" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Modify User</h4>
            </div>
            <div class="modal-body">
                <h3><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;Profile Information</h3>
                <form id="profile_form" class="form-horizontal">
                    <fieldset id="profile_form_fieldset" form="profile_form">
                        <div id="modal-default-body">
                            @* will contain after load "_User_Profile_Details_Fields" *@
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save_profile_btn" disabled>Save changes</button>
            </div>
        </div>
        @* /.modal-content *@
    </div>
    @* /.modal-dialog *@
</div>

<div class="modal modal-default modal-warning-alternative fade" id="modal-alert" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                You must select one item in users list.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/jquery.dataTables.js"></script>
    <script src="/dataTables.bootstrap.js"></script>
    <script src="/dataTables.select.min.js"></script>
    <script src="/dataTables.buttons.min.js"></script>
    <script src="/buttons.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('[rel="tooltip"]').tooltip({ trigger: "hover" });

            var table = $("#table_userList").DataTable({
                lengthChange: false,
                select: true
            });

            @* Display the buttons *@
            new $.fn.dataTable.Buttons(table,
                {
                    buttons: [
                        {
                            text: 'Edit',
                            action: function(e, dt, node, config) {
                                var count = table.rows({ selected: true }).count();
                                if (count === 1) {
                                    var sdata = table.cell('.selected', 2).data();
                                    $("#modal-default-body").load("@Url.Action("EditUser", "ListUsers")" + "?userId_=" + sdata,
                                        function() {
                                            $("#file_browser").addClass("btn-primary");
                                            $("#file_browser").removeClass("btn-default");
                                            browseForAvatar();
                                            $("#modal-default").modal("show");
                                        });
                                } else {
                                    $("#modal-alert").modal("show");
                                }
                            }
                        },
                        {
                            text: 'Delete',
                            action: function(e, dt, node, config) {
                                alert('Button Delete activated');
                            }
                        }
                    ]
                });

            table.buttons().container()
                .appendTo($('.col-sm-6:eq(0)', table.table().container()));

            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                //increaseArea: '20%' // optional
            });
        });

    </script>
}
