@*
    Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

<h2>Code Editor</h2>
<textarea id="code-editor" style="width:800px;height:600px;border:1px solid grey"></textarea>


<script>
    var mime = 'text/x-mariadb';
    var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
        mode: mime,
        indentWithTabs: true,
        smartIndent: true,
        lineNumbers: true,
        matchBrackets : true,
        autofocus: true,
        extraKeys: {"Ctrl-Space": "autocomplete"},
        showTrailingSpace: true
    });
</script>
