@*
    Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

<h2>Code Editor</h2>
<div class="row">
    <div class="col-md-12">
        <div class="box dex-default">
            <textarea id="code-editor" class="codemirror-textarea"></textarea>
            select editor theme :
            <select onchange="selectTheme()" id="select">
                <option selected="">default</option>
                <option>base16-dark</option>
                <option>base16-light</option>
                <option>dracula</option>
                <option>eclipse</option>
                <option>idea</option>
                <option>lesser-dark</option>
                <option>material</option>
                <option>monokai</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-4"><button type="button" class="btn btn-primary">Execute SQL Query</button></div>
</div>
