@*
Copyright © 2017 SOFTINUX. All rights reserved.
Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
*@

@model Barebone.ViewModels.Shared.MenuGroup.MenuGroupViewModel

@if (Model.MenuItems.Count() == 1)
{
    @Html.Partial("_MenuItem", Model.MenuItems.First())
}
else
{
    <li>
        <a href="#@(Model.Name)" aria-expanded="false" data-toggle="collapse">@(Model.Name)<span class="caret"></span></a>
        <ul id="@(Model.Name)" class="collapse list-unstyled">
            @foreach (var menuItem in this.Model.MenuItems)
                {
                    @Html.Partial("_MenuItem", menuItem)
                }
        </ul>
    </li>

}


