@*
Copyright © 2017 SOFTINUX. All rights reserved.
Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
*@

@model Barebone.ViewModels.Shared.MenuGroup.MenuGroupViewModel

<div data-toggle="collapse" data-target="#@(Model.Name)" class="collapsed menu-header">
    <a href="#"> @(Model.Name) <span class="arrow"></span></a>
</div>
<ul class="sub-menu collapse list-unstyled" id="@(Model.Name)" data-code="main-@(this.Model.Position)">
    @foreach (var menuItem in Model.MenuItems)
    {
        @Html.Partial("_MenuItem", menuItem)
    }
</ul>
