<header id="debug-banner" role="banner">
    <div class="aui-message aui-message-warning warning" style="z-index: 1039;">
        Your application runs in debug mode. <a href="#" onclick="document.getElementById('debug-banner').style.display='none'">Close this message</a>.
    </div>
</header>
