@*
Copyright © 2017 SOFTINUX. All rights reserved.
Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@model SoftinuxBase.Barebone.ViewModels.Shared.MenuItem.MenuItemViewModel
<li class="nav-item">
    <a href="@Model.Url" class="nav-link">
        <i class="@(Model.FontAwesoneIconType) @(Model.FontAwesomeIconClass)"></i> @Model.Name
    </a>
</li>
