@*
Copyright © 2017 SOFTINUX. All rights reserved.
Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@model SoftinuxBase.Barebone.ViewModels.Shared.MenuGroup.MenuGroupViewModel

<li class="treeview">
          <a href="#">
            <i class="fa @(Model.FontAwesomeClass)"></i> <span>@(Model.Name)</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
    <ul class="treeview-menu">
        @foreach (var menuItem in Model.MenuItems)
        {
            @Html.Partial("_MenuItem", menuItem)
        }
    </ul>
</li>





