@*
Copyright © 2017 SOFTINUX. All rights reserved.
Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@model SoftinuxBase.Barebone.ViewModels.Shared.MenuGroup.MenuGroupViewModel

<li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
              <i class="@(Model.FontAwesomeIconType.ToLowerInvariant()) @(Model.FontAwesomeIconClass.ToLowerInvariant()) nav-icon"></i>
              <p>@(Model.Name)
                  <i class="right fas fa-angle-left"></i>
              </p>
          </a>
    <ul class="nav nav-treeview">
        @foreach (var menuItem in Model.MenuItems)
        {
            <partial name="_MenuItem" model="menuItem" />
        }
    </ul>
</li>





