.bg-blue
{
    background-color: #D6EEFB;
}

.navbar-blue .navbar-nav .nav-link
{
    color: #152a50;
}

.navbar-brand
{
    height: 30px;
    width: 30px;
}

.navbar-brand
{
    padding: 0;
    width: 120px;
}

.navbar-nav .nav-link
{
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
}
