@* Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@
@section title {
    <h2>Chinook Initialize Data</h2>
}

@Html.ActionLink("Create and fill database tables", "Init", "Chinook")

@{
    if (true == ViewBag.InitDone)
    {
        if (!String.IsNullOrEmpty(ViewBag.InitResult))
        {
            <p style="color:red">@(ViewBag.InitResult)</p>
        }
        else
        {
            <p style="color:green">Data initialization OK</p>
        }
    }
}

@Html.Partial("_CodeEditor")

@* TODO : add a box (see adminLTE doc), an "onclick" to the html action link, include infrastructure.js.min and make it work *@