@* Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@
@section title {
    <h2>Gestion client&egrave;le</h2>
}

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Gestion Clients</h3>
                @*<div class="box-tools pull-right">*@
                @* Buttons, labels, and many other things can be placed here! *@
                @* Here is a label for example *@
                @* <span class="label label-primary">Label</span> *@
                @*</div>*@
                @* /.box-tools *@
            </div>
            @* /.box-header *@
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="find_client_field">Rechercher un client</label>
                        <input id="find_client_field" type="text" class="form-control" placeholder="taper ici le nom du client">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="margin">
                            <button class="btn btn-default">Ajouter un nouveau client</button>&nbsp;
                            <button class="btn btn-default">Modifier un client</button>&nbsp;
                            <button class="btn btn-danger">Supprimer un client</button>
                        </div>
                    </div>
                </div>
                @* /.box-body *@
                <div class="box-footer">
                    <div class="box-tools pull-right">
                        <span class="small">version 0.0.1</span>
                    </div>
                </div>
                @* box-footer *@
            </div>
        </div>
    </div>
    @* /.box *@
</div>